:root {
  --color-primary: #04cf99;
  --color-primary-dark: #00be8c;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #222;
  font-size: 1.6rem;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  min-height: 100vh;
  align-items: center;
}
.col {
  flex-grow: 1;
  padding: 2rem;
}

.color-primary {
  color: var(--color-primary);
}
/* Headings */
.heading--primary,
.heading--secondary,
.heading--tertiary,
.paragraph,
.social-list {
  animation: fadeInTop 0.4s 0.2s both;
  -webkit-animation: fadeInTop 0.4s 0.2s both;
}
.heading--primary {
  font-size: 4.5rem;
  margin-bottom: 1.4rem;
  animation-delay: 0;
}
.heading--secondary {
  font-size: 3rem;
  margin-bottom: 2rem;
  animation-delay: 0.4s;
}
.heading--tertiary {
  font-size: 2.2rem;
  animation-delay: 1.4s;
}
/* About */
.paragraph {
  line-height: 1.7;
  font-size: 1.8rem;
  animation-delay: 0.8s;
  margin-bottom: 2rem;
}
.paragraph.p2 {
  animation-delay: 1.2s;
}
.image img {
  width: 100%;
  display: inline-block;
  box-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.2);
}
.image {
  width: 360px;
}
/* Social List */
.social-list {
  list-style: none;
  display: flex;
  animation-delay: 2s;
}
.social-list li {
  margin-right: 2.5rem;
  font-size: 3rem;
}
.social-list a:link,
.social-list a:visited {
  color: var(--color-primary);
  display: inline-block;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.social-list a:active,
.social-list a:hover {
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  color: var(--color-primary-dark);
  text-shadow: 0 5px 0.5rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 992px) {
  html {
    font-size: 52.5%;
  }
  .container {
    flex-direction: column;
  }
  .image {
    max-width: 360px;
  }
  .col {
    flex-grow: initial;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 48%;
  }
  .container {
    padding: 2rem;
  }
  .paragraph {
    font-size: 2rem;
  }
}
/* Animations */
@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(6px);
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
}
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
